@font-face {
  font-family: "Gotham Pro Bold";
  src: url("./fonts/GothamPro-Bold.woff2") format("woff2");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro Medium";
  src: url("./fonts/GothamPro-Medium.woff2") format("woff2");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro Black";
  src: url("./fonts/GothamPro-Black.woff2") format("woff2");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro Light";
  src: url("./fonts/GothamPro-Light.woff2") format("woff2");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamPro.woff2") format("woff2");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "GothamPro-Black";
  src: url("./fonts/GothamPro-Black.woff2") format("woff2");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

/* Proxima Nova */
@font-face {
  font-family: "Proxima Nova Regular";
  src: url("./fonts/ProximaNova-Regular.woff") format("woff");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Black";
  src: url("./fonts/ProximaNova-Black.woff") format("woff");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Bold";
  src: url("./fonts/ProximaNova-Bold.woff") format("woff");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("./fonts/ProximaNova-Light.woff") format("woff");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("./fonts/ProximaNova-Semibold.woff") format("woff");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova Thin";
  src: url("./fonts/ProximaNova-Thin.woff") format("woff");
  font-style: normal;

  font-weight: normal;
  font-display: swap;
}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
}


.rateBigDefault {

  color: #F8F9F9 !important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}